<div class="radar-chart-panel">
    <span class="radar-theme"></span>
    <div class="radar-container" style="{{ ctrl.panel.radarHeight }}">
       
            <svg ng-attr-id="{{ctrl.panel.radarId}}" class="radar-svg-set" viewBox="0 0 550 550" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet"></svg>
        

        <!--<div ng-attr-id="{{ctrl.panel.radarToolTipId}}" class="radar-tool-tips" style="position: absolute; display: {{ctrl.panel.hoverDisplay}}; border-style: solid; white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: {{ ctrl.panel.tipBackgroundColor }}; border-width: 0px; border-color: rgb(51, 51, 51); border-radius: 4px;font: 14px/21px sans-serif; padding: 5px;min-width: 40px;width:auto;">-->
        </div>
    </div>
    <!-- <div ng-if="ctrl.panel.isSideInformation">

    </div> -->
    <div class="radar-legend-container" style="{{ ctrl.panel.legendDisplay }}">
        <span class="radar-legend" ng-repeat="(key,item) in ctrl.panel.legendText" ng-onclick="ctrl.isDisLegend()">
            <div class="radar-legend-color" style="background-color:{{ctrl.panel.rowDatas[item].color}};"></div>
            <span class="radar-legend-text" style="text-decration:{{ctrl.panel.rowDatas[item].textDecration}}">{{ ctrl.panel.rowDatas[item].showLegendText }}</span>
        </span>
    </div>
</div>


