.radar-uneditably {
    pointer-events: none;
}
.radar-svg-set {
    width:100%;
    height:100%;
}
.radar-container {
    height:90%;
}
.radar-legend-container {
    height:10%;
    padding: 0 10%;
}
.radar-legend {
    margin: 0 2%;
    cursor: pointer;
}
.radar-legend-color {
    width:6%;
    height:8%;
    display:inline-block;
    border-radius: 15%;
    vertical-align: middle;
    padding-right: 1%;
}
.radar-legend-text {
}
.radar-hover-legend-color {
    width: 30px;
    height: 3px;
    display:inline-block;
    border-radius: 15%;
    vertical-align: middle;
    padding-right: 2%;
    margin: 0px 2px;
}
.radar-chart-panel {
    height:100%;
}
.radar-theme {
    color: darkgrey
}
.radar-tool-tips {
    pointer-events: none;
}
